html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.page-wrapper {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

body {

  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.nav-item a {
    /* width: 90px; */
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #000000;
    display: inline-block;
}
.nav-item-1 a {
  margin-left: 72px;
  margin-right: 74px;
}
.nav-item-2 a {
  margin-left: 73px;
  margin-right: 190px; /*68+122 */
}
.nav-item-3 a {
  margin-left: 198px; /*76+122*/
  margin-right: 73px;
}
.nav-item-4 a {
  margin-left: 88px;
  margin-right: 76px;
}


.nav-item-active a {
  color: #766357;
}
.nav-item a:hover,
.nav-item a:focus {
 color: #81b3d2;
}
.nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
 }

.nav-list {
  list-style: none;
  display: flex;
  padding-top: 18px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  min-height: 56px;
  margin-top: 0px;
}
.site-header {
  background-image: url("../img/group-sedona-bgr.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 773px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.site-header::after {
  content: "";
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  display: block;
  margin-top: -287px;
}

.about-sedona-container {
  width: 1200px;
  /* position: absolute; */
  min-height: 216px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 501px;
}

.sedona-city {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #000000;
    padding-top: 40px;
}

.reasons {
    width: 489px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #333333;
    padding-top: 20px;
    margin-left: 355px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotel-map {
  margin-top: -25px;
}

.interested-wrap {
  text-align: center;
  width: 1200px;
  background-color: #ffffff;
  min-height: 291px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 50px;
}

.travel-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
}

.page-footer-container {
  width: 1200px;
  display: flex;
  min-height: 120px;
  align-items: center;
}

.hashtag a {
    width: 136px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-left: 132px;
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 184px;
  margin-left: 256px;
}

.icon {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: inline-block;
}
.icon:hover,
.icon:focus {
  background-color: #669ec0;
}
.icon:active {
  background-color: #5496bd;
}

.icon-twitter {
  background-image: url("../img/twitter-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position-y: center;
  background-position-x: center;
}
.icon-twitter:active {
  background-image: url("../img/tw.png");
}
.icon-facebook {
  background-image: url("../img/fb-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position-y: center;
  background-position-x: center;
}
.icon-facebook:active {
  background-image: url("../img/fb.png");
}
.icon-youtube {
  background-image: url("../img/youtube-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position-y: center;
  background-position-x: center;
}
.icon-youtube:active {
  background-image: url("../img/youtube.png");
}
.academy-copyright {
    width: 74px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
}
.copyright {
  display: flex;
  margin-left: 228px;
}
.academy-footer-logo {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 41px;
  object-fit: contain;
  margin-left: 8px;
  margin-top: 5px;
}
.academy-footer-logo:hover {
  background-image: url("../img/academy-hover.png");
  background-repeat: no-repeat;
}
.academy-footer-logo:active {
  background-image: url("../img/academy-active.png");
  background-repeat: no-repeat;
}
.site-logo {
  position: absolute;
  margin-left: 540px;
}

.sedona-map {
  background-image: url("../img/map.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 593px;
  position: relative;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}
.hotels-list {
  list-style: none;
  background-color: #ffffff;
  margin-top: 100px;
}
.hotel-name {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 5px;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}
.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.institution-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  width: 200px;
}
.institution-price span:nth-child(2) {
  padding-left: 20px;
}
.institution-price span:first-child {
  width: 100px;
}


.more-info {
  display: block;
  width: 110px;
  max-height: 27px;
  background-color: #81b3d2;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 4px 17px 6px 17px;
}
.more-info:hover {
  background-color: #669ec0;
}
.more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.book {
  display: block;
  width: 142px;
  max-height: 27px;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  padding: 4px 16px;
}
.book:hover {
  background-color: #604e43;
}
.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating-score {
  display: block;
  width: 110px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-top: 25px;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 90px;
  margin-left: auto;
  padding-right: 73px;
}
.rating-star {
  padding-bottom: 23px;
}
.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-bottom: 25px;
}
.btn-wrap {
  display: flex;
  width: 260px;
  justify-content: space-between;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* стили формы */


.hotel-search {
  position: relative;
  bottom: 100px;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  display: block;
  width: 100%;
  min-height: 2rem;
  margin: 0;
  padding: 8px 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 2;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  word-wrap: break-word;
  user-select: none;
  border-radius: 0;
  border: 0;
  background-color: #81b3d2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-button {
  padding: 22px 20px;
  background-color: #766357;
}


.main-button:hover,
.main-button:focus {
  background-color: #604e43;
}

.main-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search-form {
  display: none;
  width: 100%;
  padding: 55px;
  font-size: 14px;
  line-height: 2;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.hotel-search-form-active {
  position: absolute;
  z-index: 50000;
  display: block;
}

.field-text {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}

.field-text-label {
  display: inline-block;
  width: 110px;
  text-align: left;
}

.field-text-input {
  display: inline-block;
  width: calc(100% - 110px);
  height: 38px;
  padding: 5px 35px 5px 15px;
  text-align: left;
  border: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.field-text-icon {
  position: absolute;
  right: 5px;
  fill: #cacaca;
  transition: all 0.2s ease-in-out;
}

.field-text-input:hover {
  background-color: #ebebeb;
}

.field-text-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.field-text-input:hover + .field-text-icon {
  fill: #000000;

}

.field-text-input:focus + .field-text-icon {
  fill: #81b3d2;
}

.hotel-search-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.field-number {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}

.field-number-label {
  display: inline-block;
  width: 110px;
  text-align: left;
}

.field-number-label-children {
  text-align: right;
  padding-right: 20px;
}

.field-number-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.field-number-btn {
  width: 38px;
  height: 38px;
  user-select: none;
  border-radius: 0;
  border: 0;
  background-color: #f2f2f2
}


.field-number-btn-less,
.field-number-btn-more {
  position: relative;
  cursor: pointer;
}

.field-number-btn-less::before,
.field-number-btn-more::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 12px;
  height: 3px;
  margin-left: -6px;
  background-color: #cacaca;
  transform: translateY(-50%);
  transition: background-color 0.2s ease-in-out;
}

.field-number-btn-more::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 3px;
  height: 12px;
  margin-top: -6px;
  background-color: #cacaca;
  transform: translateX(-50%);
  transition: background-color 0.2s ease-in-out;
}

.field-number-btn-less:hover::before,
.field-number-btn-more:hover::before,
.field-number-btn-more:hover::after,
.field-number-btn-less:focus::before,
.field-number-btn-more:focus::before,
.field-number-btn-more:focus::after {
  background-color: #000000;
}

.field-number-btn-less:active::before,
.field-number-btn-more:active::before,
.field-number-btn-more:active::after {
  background-color: #81b3d2;
}

.field-number-input {
  width: 38px;
  height: 38px;
  text-align: center;
  user-select: none;
  border-radius: 0;
  border: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

/* блоки index.html */

.features {
  width: 1200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.feature-1 {
  width: 400px;
  background-color: #81b3d2;
  min-height: 256px;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  color: #ffffff;
}
.photo-feature-1 {
  background-image: url("../img/feature-picture-1.jpg");
  width: 800px;
  height: 256px;
}
.feature-housing {
  background-color: #ffffff;
  width: 400px;
  min-height: 330px;
  background-image: url("../img/house-icon.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position-x: 162px;
  background-position-y: 60px;
  padding-top: 165px;
  padding-left: 25px;
  padding-right: 25px;
}
.feature-food {
  background-color: #ffffff;
  width: 400px;
  min-height: 330px;
  background-image: url("../img/food-icon.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position-x: 170px;
  background-position-y: 62px;
  padding-top: 165px;
  padding-left: 25px;
  padding-right: 25px;

}
.feature-souvenirs {
  background-color: #ffffff;
  width: 400px;
  min-height: 330px;
  background-image: url("../img/souvenir-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position-x: 168px;
  background-position-y: 56px;
  padding-top: 165px;
  padding-left: 25px;
  padding-right: 25px;
}
.photo-feature-2 {
  background-image: url("../img/feature-picture-2.jpg");
  width: 800px;
  height: 256px;
}
.feature-2 {
  background-color: #81b3d2;
  width: 400px;
  min-height: 256px;
  color: #ffffff;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
}
.feature-3 {
  background-color: #eeeeee;
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 45px;
}
.feature-4 {
  background-color: #eeeeee;
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 45px;

}
.feature-5 {
  background-color: #eeeeee;
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
}
.sorting {
  padding-top: 40px;
  background-color: #ffffff;
  min-height: 85px;
}
.hotel-list-wrap {
  background-color: #ffffff;
  margin-top: -100px;;
}
.found-objects {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  margin-left: 40px;
}
.sorting-by {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-left: 49px;
  text-transform: uppercase;
}
.sorting-btn {
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
}
.sorting-arrows {
  margin-left: 460px;
}
.price-btn {
  color: #81b3d2;
  margin-left: 35px;
}
.type-btn {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-left: 33px;
}
.rating-btn {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-left: 33px;

}
.filter-range {
  background-image: url("../img/filter-background.jpg");
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 215px;
  margin-top: -16px;
  display: flex;
}

.range-price {
  margin-left: 374px;
  width: 300px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 31px;
}
.price-controls {
  height: 36px;
  margin-bottom: 20px;
  position: relative;
  font-size: 0px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  position: absolute;
  top: -7px;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 140px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.filter-heading {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  color: #ffffff;
  margin-bottom: 9px;
}
.infrastructure {
  margin-left: 72px;
}
.housing-type {
  margin-left: 112px;
}
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.check {
  display: block;
  color: #ffffff;
  padding-left: 2em;
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.check-box {
  position: absolute;
  background-image: url("/img/checkbox-off.svg");
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: -30px;
}
.check-input:checked + .check-box {
  background-image: url("/img/checkbox-on.svg")
}
.check-input:focus + .check-box {
  box-shadow: 0px 0px 3px 2px #0433ff;
}
.check-input:checked:focus + .check-box {
  background-image: url("/img/checkbox-on.svg")
}
.check-input:checked:disabled + .check-box {
  background-image: url("/img/checkbox-on-dis.svg")
}
.check-input:disabled + .check-box {
  background-image: url("/img/checkbox-off-dis.svg")
}



