body {

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 1280px;
  height: 2762px;

}

a {
  text-decoration: none;
}

.nav-item a {
    width: 90px;
    height: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #000000;
}

.nav-list {
  list-style: none;
}

.site-header {
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 773px;
  position: relative;
  margin: top 0px;
  margin-left: 40px;
}

.greetings {
  background-image: url("../img/welcome.png");
  background-position: top center;
  background-repeat: no-repeat;
  width: 459px;
  height: 353px;
  object-fit: contain;
  margin-top: -61px;
  margin-left: 370px;
}

.polygon {
  background-image: url("../img/polygon.svg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  position: absolute;
  margin-top: -2px;
}

.about-sedona {
  width: 1200px;
  height: 216px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.sedona-city {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #000000;
    margin-top: 61px;
}

.reasons {
    width: 489px;
    height: 13px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 56px;
    margin-left: 355px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.interested-wrap {
  text-align: center;
  width: 434px;
  height: 96px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.travel-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.page-footer {
  width: 1200px;
  height: 120px;
  opacity: 0.9;
  background-color: white;
  margin-top: 1962px;
  margin-left: 40px;
}

.hashtag {
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.social {
  list-style: none;
}

.icon {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: inline-block;
}

.icon-twitter {
  background-image: url("../img/twitter-icon.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position-y: center;
  background-position-x: center;
}

.icon-facebook {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position-y: center;
  background-position-x: center;
}
.icon-youtube {
  background-image: url("../img/youtube-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position-y: center;
  background-position-x: center;
}
.academy-copyright {
    width: 74px;
    height: 11px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.site-logo {
  margin-left: 550px;
}


