html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.page-wrapper {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

body {

  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.nav-item a {
    /* width: 90px; */
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #000000;
    display: inline-block;
}
.nav-item-1 a {
  margin-left: 72px;
  margin-right: 74px;
}
.nav-item-2 a {
  margin-left: 73px;
  margin-right: 190px; /*68+122 */
}
.nav-item-3 a {
  margin-left: 198px; /*76+122*/
  margin-right: 73px;
}
.nav-item-4 a {
  margin-left: 88px;
  margin-right: 76px;
}


.nav-item-active a {
  color: #766357;
}
.nav-item a:hover,
.nav-item a:focus {
 color: #81b3d2;
}
.nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
 }

.nav-list {
  list-style: none;
  display: flex;
  padding-top: 18px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  min-height: 56px;
  margin-top: 0px;
}
.site-header {
  background-image: url("../img/group-sedona-bgr.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 773px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.site-header::after {
  content: "";
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  display: block;
  margin-top: -287px;
}

.about-sedona-container {
  width: 1200px;
  /* position: absolute; */
  min-height: 216px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 501px;
}

.sedona-city {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #000000;
    padding-top: 40px;
}

.reasons {
    width: 489px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #333333;
    padding-top: 20px;
    margin-left: 355px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.interested-wrap {
  text-align: center;
  width: 1200px;
  background-color: #ffffff;
  min-height: 291px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 50px;
}

.travel-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
}

.page-footer-container {
  width: 1200px;
  display: flex;
  min-height: 120px;
  align-items: center;
}

.hashtag a {
    width: 136px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-left: 132px;
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 184px;
  margin-left: 256px;
}

.icon {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: inline-block;
}
.icon:hover,
.icon:focus {
  background-color: #669ec0;
}
.icon:active {
  background-color: #5496bd;
}

.icon-twitter {
  background-image: url("../img/twitter-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position-y: center;
  background-position-x: center;
}
.icon-twitter:active {
  background-image: url("../img/tw.png");
}
.icon-facebook {
  background-image: url("../img/fb-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position-y: center;
  background-position-x: center;
}
.icon-facebook:active {
  background-image: url("../img/fb.png");
}
.icon-youtube {
  background-image: url("../img/youtube-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position-y: center;
  background-position-x: center;
}
.icon-youtube:active {
  background-image: url("../img/youtube.png");
}
.academy-copyright {
    width: 74px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
}
.copyright {
  display: flex;
  margin-left: 228px;
}
.academy-footer-logo {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 41px;
  object-fit: contain;
  margin-left: 8px;
  margin-top: 5px;
}
.academy-footer-logo:hover {
  background-image: url("../img/academy-hover.png");
  background-repeat: no-repeat;
}
.academy-footer-logo:active {
  background-image: url("../img/academy-active.png");
  background-repeat: no-repeat;
}
.site-logo {
  position: absolute;
  margin-left: 540px;
}
.search-header {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 568px;
    min-height: 86px;
    background-color: #766357;
}
.search-header:hover,
.search-header:focus {
  background-color: #604e43;
}
.search-header:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.sedona-map {
  background-image: url("../img/map.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 593px;
  position: relative;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.hotel-search {
  position: absolute;
  margin-left: 316px;
  margin-top: -100px;
  z-index: 1;
}
.hotels-search-form {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
}

.form-container {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 55px;
  margin-left: auto;
  margin-right: auto;
}
.search-btn {
  width: 458px;
  min-height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.search-btn:hover {
  background-color: #669ec0;
}
.search-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.field-text-date {
  margin-right: 20px;
}
.field-text-2 {
  margin-right: 16px;
}

.field-date-input {
  height: 38;
  width: 346px;
  margin-bottom: 29px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
}
.field-text-people {
  margin-right: 41px;
}

.field-date-input,
.adult-input-form,
.child-input-form {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.adult-input-form,
.child-input-form {
  width: 38px;
  height: 38px;
  position: relative;
  bottom: 3px;
}
.field-date-input:hover,
.adult-input-form:hover,
.child-input-form:hover {
  background-color: #ebebeb;
}
.field-date-input:hover + .span-icon {
  background-image: url("../img/calendar_black.svg");
  background-repeat: no-repeat;
}
.field-date-input:active,
.field-date-input:focus,
.adult-input-form:active,
.child-input-form:active,
.adult-input-form:focus,
.child-input-form:focus {
  background-color: #ffffff;
}

.field-date-input:active + .span-icon,
.field-date-input:focus + .span-icon {
  background-image: url("../img/calendar_blue.svg");
  background-repeat: no-repeat;
}
.span-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/calendar-grey.svg");
  left: 485px;
  margin-top: -59px;
}
.quantity-btn-plus,
.quantity-btn-minus {
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.adult-minus {
  margin-left: -5px;
}
.adult-input-form {
  margin-left: -3px;
}
.adult-plus {
  margin-left: -4px;
  margin-right: 33px;
}

.child-input-form {
  margin-left: -4px;
}
.child-plus {
  margin-left: -4px;
}


.quantity-btn-plus {
  color: #cacaca;
}
.quantity-btn-plus:hover {
  color: #000000;
}
.quantity-btn-plus:active {
  color: #81b3d2;
}
.quantity-btn-minus {
  color: #cacaca;
}
.quantity-btn-minus:hover {
  color: #000000;
}
.quantity-btn-minus:active {
  color: #81b3d2;
}
.hotels-list {
  list-style: none;
  background-color: #ffffff;
  margin-top: 100px;
}
.hotel-name {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 5px;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}
.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.institution-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  width: 200px;
}
.institution-price span:nth-child(2) {
  padding-left: 20px;
}
.institution-price span:first-child {
  width: 100px;
}


.more-info {
  display: block;
  width: 110px;
  max-height: 27px;
  background-color: #81b3d2;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.more-info:hover {
  background-color: #669ec0;
}
.more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.book {
  display: block;
  width: 142px;
  max-height: 27px;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}
.book:hover {
  background-color: #604e43;
}
.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating-score {
  display: block;
  width: 110px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-top: 25px;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 90px;
  margin-left: auto;
  padding-right: 73px;
}
.rating-star {
  padding-bottom: 23px;
}
.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-bottom: 25px;
}
.btn-wrap {
  display: flex;
  width: 260px;
  justify-content: space-between;
}
